:root {
    --default-fonts: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --apple-fonts: -apple-system, BlinkMacSystemFont, sans-serif;
    --dark-shade-purple: #36304B;
    --light-grayish-blue: #BEC7D5;
    --disabled: #dddddd;
    --light-gray: #F6F6F6;
    --dark-gray: #171414;
    --mid-gray: #4b4b4b;
    --gray: #ccc;
    --light: white;
    --dark: black;
}
.w-100 {
    width: 100%;
}
.display-none {
    display: none;
}
.shadow {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px var( --gray );
    -moz-box-shadow: 0 1px 1px var( --gray );
    box-shadow: 0 1px 1px var( --gray );
}
table.tracks {
    font-family: var( --apple-fonts );
    color: var( --mid-gray );
    font-size: 11px;
    border-spacing: 0;
    border-collapse: separate;
    border: solid var( --gray ) 1px;
    width: 100%;
    overflow: hidden;
    margin-top: 100vh;
}
table.tracks thead {
    font-size: 12px;
    text-align: center;
    font-weight: normal;
    color: var( --light );
    background-color: var( --dark-shade-purple );
}
table.tracks .text-center {
    text-align: center;
}
table.tracks tbody tr:nth-child( odd ) {
    background-color: var( --light-gray );
}
table.tracks tbody tr:nth-child( even ) {
    background-color: var( --light );
}
table.tracks tfoot tr {
    background-color: var( --gray );
}
.trace-container {
    width: 100%;
    color: var( --light-grayish-blue );
    font-size: 12px;
    background-color: var( --dark-gray );
    box-sizing: border-box;
    margin-bottom: 3rem;
}
table.dump {
    font-family: var( --apple-fonts );
    width: 100%;
    padding: .5rem;
    background-color: var( --dark-gray );
    border-radius: 5px;
    margin-bottom: 1rem;
}
table.dump .title {
    color: #FFA94D
}
table.dump .definition {
    color: #DFDFDF;
}
table.dump .line {
    color: #5D95C2;
}
table.dump .time {
    color: #574487;
}
.default-button {
   background-color: var( --light );
   border: 0;
   border-radius: .5rem;
   box-sizing: border-box;
   color: #111827;
   font-family: var( --default-fonts );
   font-size: .700rem;
   font-weight: 600;
   line-height: 1.25rem;
   padding: .3rem 1rem;
   text-align: center;
   text-decoration: none #D1D5DB solid;
   text-decoration-thickness: auto;
   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
   cursor: pointer;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}
.default-button:hover {
    background-color: var(--light-gray);
}
.default-button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.default-button.disabled, .default-button[disabled] {
    background-color: var(--disabled);
    cursor: not-allowed;
}
.modal-transparent {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba( 25,25,25, 0.950 );
    overflow: hidden;
    transition: .3s;
    opacity: 1;
}
.trace-container pre {
    overflow: auto;
    padding: 1rem;
}
.tracks-alert {
    padding: .8rem 1rem;
    color: #DFDFDF;
    line-height: 2;
    font-size: 11px;
    font-family: var( --apple-fonts );
    background-color: var( --dark-gray ) !important;
    border: none;
}
ul.pagination {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1px;
    flex-direction: row;
    list-style-type: none;
}
ul.pagination li a {
    font-family: 'Arial', sans-serif;
    color: #2f3640;
    font-weight: bold;
    font-size: 12px;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #000;
    background: #ffffff;
}
ul.pagination li a.active {
    background: var( --gray );
}